<script> chart('{{project_id}}', '{{api_key}}'); </script>

{{#ifCond pageTitle "==" "Home"}}
<div id="sales-text" class="example-viz"></div>
<script> chart_page("{{pageTitle}}"); chart_text(); </script>
<div id="sales-bar" class="example-viz"></div>
<script> chart_bar(); </script>
<div id="sales-table" class="example-viz"></div>
<script> chart_table(); </script>
<div id="sales-area" class="example-viz"></div>
<script> chart_area(); </script>
{{/ifCond}}

{{#ifCond pageTitle "==" "Bar"}}
<div id="sales-bar" class="example-viz"></div>
<script> chart_page("{{pageTitle}}"); chart_bar(); </script>
{{/ifCond}}

{{#ifCond pageTitle "==" "Table"}}
<div id="sales-table" class="example-viz"></div>
<script> chart_page("{{pageTitle}}"); chart_table(); </script>
<div id="sales-table3" class="example-viz"></div>
<script> chart_table3(); </script>
<div id="sales-table2" class="example-viz"></div>
<script> chart_table2(); </script>
{{/ifCond}}

{{#ifCond pageTitle "==" "Area"}}
<div id="sales-area" class="example-viz"></div>
<script> chart_page("{{pageTitle}}"); chart_area(); </script>
{{/ifCond}}

{{#ifCond pageTitle "==" "Purchase"}}
<div id="sales-text" class="example-viz"></div>
<script> chart_page("{{pageTitle}}"); chart_purchase(); chart_sales(100); chart_text(); </script>
{{/ifCond}}
